# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [5]:
import pandas as pd
company_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
company_df2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
company_df3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [6]:
# Cleaning data frame 1
def clean_data():                                                                                                   # Defining a function to clean data
    company_df.columns = [col.lower().replace(" ","_") for col in company_df.columns]                               # Cleaning the name of the columns
    company_df.rename(columns={"st":"state"}, inplace=True)                                                         # Changing st to state
    def change_sex(row):                                                                                            #Function to replace inconsistent values with 'M' and 'F' and Null values with None.
        if row[0] == "m" or  row[0] == "M":
            return "M"  
        elif row[0] == "f" or row[0] == "F":
            return "F"
        else:
            return None
    
    company_df["gender"] = company_df["gender"].astype(str)                                                          # converting the datatype of column into string due to error float not subscriptable
    company_df["gender"]= company_df["gender"].apply(change_sex)    
    company_df["state"]= company_df["state"].replace(["AZ" ,"WA", "Cali"],["Arizona","Washington","California"])
    company_df["education"]= company_df["education"].replace("Bachelors","Bachelor")                                 # replacing Bachelors with Bachelor
    company_df.dropna(inplace= True)                                                                                 #removing the null value rows
    company_df["customer_lifetime_value"] = company_df["customer_lifetime_value"].astype(str)                        # *In Customer Lifetime Value, delete the `%` character*
    company_df["customer_lifetime_value"] = company_df["customer_lifetime_value"].apply(lambda x: x.split("%")[0])
    company_df["customer_lifetime_value"] = company_df["customer_lifetime_value"].astype(float)
    company_df["vehicle_class"]= company_df["vehicle_class"].replace(["Sports Car" ,"Luxury SUV", "Luxury Car"],["Luxury","Luxury","Luxury"]) #- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*
    company_df["number_of_open_complaints"] = company_df["number_of_open_complaints"].astype(str)                    #changing the datatype
    company_df["number_of_open_complaints"]= company_df["number_of_open_complaints"].apply(lambda x:x.split('/')[1]) #splitting with "/" , and retaining the 2nd object of the list generated.
    company_df["number_of_open_complaints"] = company_df["number_of_open_complaints"].astype(int)                    #assigning the datatype integer.
    company_df["total_claim_amount"] = company_df["total_claim_amount"].round(2)
    return
    
clean_data()

In [8]:
# cleaning of data frame 2
company_df2.columns = [col.lower().replace(" ","_") for col in company_df2.columns]                               # Cleaning the name of the columns
company_df2.rename(columns={"st":"state"}, inplace=True)                                                         # Changing st to state
company_df2["vehicle_class"]= company_df2["vehicle_class"].replace(["Sports Car" ,"Luxury SUV", "Luxury Car"],["Luxury","Luxury","Luxury"]) #- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*
company_df2["gender"] = company_df2["gender"].astype(str)    
def change_sex(row):            #Function to replace inconsistent values with 'M' and 'F' and Null values with None.
    if row[0] == "m" or  row[0] == "M":
        return "M"  
    elif row[0] == "f" or row[0] == "F":
        return "F"
    else:
        return None

company_df2["gender"]=company_df2["gender"].apply(change_sex)
company_df2["state"]= company_df2["state"].replace(["AZ"],["Arizona"])
company_df2["education"]= company_df2["education"].replace("Bachelors","Bachelor")                                 # replacing Bachelors with Bachelor
company_df2["customer_lifetime_value"] = company_df2["customer_lifetime_value"].astype(str)                        # *In Customer Lifetime Value, delete the `%` character*
company_df2["customer_lifetime_value"] = company_df2["customer_lifetime_value"].apply(lambda x: x.split("%")[0])
company_df2["customer_lifetime_value"] = company_df2["customer_lifetime_value"].astype(float)
company_df2["number_of_open_complaints"] = company_df2["number_of_open_complaints"].astype(str)                    #changing the datatype
company_df2["number_of_open_complaints"]= company_df2["number_of_open_complaints"].apply(lambda x:x.split('/')[1]) #splitting with "/" , and retaining the 2nd object of the list generated.
company_df2["number_of_open_complaints"] = company_df2["number_of_open_complaints"].astype(int)

In [9]:
# Cleaning of data frame 3
company_df3.columns = [col.lower().replace(" ","_") for col in company_df3.columns]                               # Cleaning the name of the columns
company_df3["vehicle_class"]= company_df3["vehicle_class"].replace(["Sports Car" ,"Luxury SUV", "Luxury Car"],["Luxury","Luxury","Luxury"]) #- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [10]:
#CONCATINATING THE THREE DATAFRAMES:
company_full = pd.concat([company_df, company_df2,company_df3], axis=0)
company_full.reset_index(inplace=True)

In [11]:
company_full

,index,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,0,Personal Auto,Four-Door Car,1131.460000
1,2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0,Personal Auto,Two-Door Car,566.470000
2,3,WW63253,California,M,Bachelor,7.645862e+05,0.0,106.0,0,Corporate Auto,SUV,529.880000
3,4,GA49547,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,0,Personal Auto,Four-Door Car,17.270000
4,5,OC83172,Oregon,F,Bachelor,8.256298e+05,62902.0,69.0,0,Personal Auto,Two-Door Car,159.380000
...,...,...,...,...,...,...,...,...,...,...,...,...
9013,7065,LA72316,California,M,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
9014,7066,PK87824,California,F,College,3.096511e+03,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
9015,7067,TD14365,California,M,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
9016,7068,UP19263,California,M,College,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
9017,7069,Y167826,California,M,College,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [12]:
# Your code goes here
marketing_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

In [13]:
marketing_df.drop(columns = ["unnamed:_0","vehicle_type","month"],inplace = True)# Removing unwanted columns
marketing_df["vehicle_class"]= marketing_df["vehicle_class"].replace(["Sports Car" ,"Luxury SUV", "Luxury Car"],["Luxury","Luxury","Luxury"]) #- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*
marketing_df["number_of_open_complaints"]= marketing_df["number_of_open_complaints"].astype(int)   # changing datatype of number of open complaints column

In [35]:

marketing_df["customer_lifetime_value"].head(20)

0      4809.216960
1      2228.525238
2     14947.917300
3     22332.439460
4      9025.067525
5      4745.181764
6      5035.035257
7      4956.247235
8      5989.773931
9     17114.328150
10     5154.764074
11     2420.711888
12    19955.257130
13     5454.587929
14    12836.009510
15     4626.801093
16     5326.677654
17     2497.531509
18     2736.352663
19     3746.751625
Name: customer_lifetime_value, dtype: float64

In [16]:
list(marketing_df.columns)

['customer',
 'state',
 'customer_lifetime_value',
 'response',
 'coverage',
 'education',
 'effective_to_date',
 'employmentstatus',
 'gender',
 'income',
 'location_code',
 'marital_status',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'policy_type',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'total_claim_amount',
 'vehicle_class',
 'vehicle_size']

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [27]:
pivot_1 = marketing_df.pivot_table(columns='sales_channel',values =['total_claim_amount',], aggfunc='sum') # pivoting the columns 'sales channel' and  aggregating 'total claim amount'
pivot_2 = pivot_1.round(decimals=2,)                                                                      # rounding the total revenue to 2 decimal places
display(pivot_2)

sales_channel            Agent     Branch  Call Center        Web
total_claim_amount  1810226.82  1301204.0    926600.82  706600.04

In [ ]:
#From the dataframe, we can see that sales through Agent surpasses the other three channels by miles. At second position is Branch followed by Call Center and the last is Web.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [34]:
pivot_3 = marketing_df.pivot_table(index="gender",columns=  "education", values = "customer_lifetime_value", aggfunc= "mean")
pivot_4 = pivot_3.round(decimals=2,)                                                                      # rounding the total revenue to 2 decimal places
display(pivot_4)

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

In [ ]:
# Female with education level High School or Below have the highest average customer lifetime value while female doctors have the least.
# Amongst the male customers, those having Masters have the most customer lifetime value and men with Doctorate have the least customer life time value.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

## Grouping

Grouping is the process of splitting the data into groups based on certain criteria. The `groupby()` function is used for this purpose.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here